.tweet_container {
    width: 100%;
    height: 100%;
}

.tweet_section_top {
    height: 20%;
    background-color: #161D28;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 7px;
    border-bottom: 0.1px solid white;
}
    
.tweet_section_bottom {
        height: 80%;
        background-color: #161D28;
        overflow-y: scroll;
}

.tweet_section_bottom::-webkit-scrollbar {
    display: none;
}


.tweet_section > p {
    font-size: 22px;
    color: white;
}

.tweet_writing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.tweet_writing > textarea {
    width: 90%;
    background-color: #161D28;
    font-size: 20px;
    padding: 7px;
    color: white;
    border: none;
    border-bottom: 0.1px solid white;
}

.send_tweet {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


.send_tweet > p {
    color: white;
}

.send_tweet > button {
    padding: 3px;
    width: 100px;
    border-radius: 25px;
    color: white;
    background-color: #298AD0;
    border: none;
    cursor: pointer;
}




/* tweet when displayed */
.user_icon {
    padding: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: thin solid #161D28;
    color: white;
    background-color: #298AD0;
    cursor: pointer;
}


.tweet_display {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 180px;
    color: white;
    border-bottom: 0.1px solid white;
}

.tweet_display_top {
    display: flex;
    align-items: center;
    gap: 10px;
}


.user_infos {
    display: flex;
    gap: 5px;
    color: white;
}


.heart_icon {
    color: white;
    cursor: pointer;
}


.tweet_display_bottom {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_infos_username {
    color: #354355;
}

.user_infos_date {
    color: #354355;
}

